<!DOCTYPE html>
<html>
<head>
    <title>Generate Certificate | CertifAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <div class="logo">
        <h2>🎓 CertifAI</h2>
    </div>

    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

<div class="hero">

<div class="left">

<h1>Generate Certificate</h1>

<p>Fill in the details below.</p>

<br>

<form>

<label>Name</label><br>
<input type="text" placeholder="Enter Name"><br><br>

<label>Course/Event</label><br>
<input type="text" placeholder="Course Name"><br><br>

<label>Organization</label><br>
<input type="text" placeholder="Organization"><br><br>

<label>Date</label><br>
<input type="date"><br><br>

<button type="submit">
Generate Certificate
</button>

</form>

</div>

</div>

</body>
</html>