<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Generate Certificate</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <div class="logo">CertifAI</div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/generate">Generate</a></li>
        <li><a href="#">Verify</a></li>
        <li><a href="#">About</a></li>
    </ul>
</nav>

<div class="form-container">

<form method="POST">

<label>Name</label><br>
<input type="text" name="name" placeholder="Enter Name" required><br><br>

<label>Course/Event</label><br>
<input type="text" name="course" placeholder="Course Name" required><br><br>

<label>Organization</label><br>
<input type="text" name="organization" placeholder="Organization" required><br><br>

<label>Date</label><br>
<input type="date" name="date" required><br><br>

<button type="submit">
Generate Certificate
</button>

</form>

</div>

</body>
</html>