<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CertifAI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <div class="logo">
        <span>🎓</span>
        <h2>CertifAI</h2>
    </div>

    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Generate</a></li>
        <li><a href="#">Verify</a></li>
        <li><a href="#">About</a></li>
    </ul>
</nav>

<section class="hero">

    <div class="left">

        <div class="badge">
            🤖 AI Powered
        </div>

        <h1>
            Professional AI <br>
            Certificate Generator
        </h1>

        <p>
            Generate beautiful certificates instantly with intelligent formatting,
            automatic certificate IDs and PDF download.
        </p>

        <button>
            Generate Certificate
        </button>

    </div>

    <div class="right">

        <div class="preview">

            <h2>CERTIFICATE</h2>

            <h3>OF ACHIEVEMENT</h3>

            <p>This certificate is proudly presented to</p>

            <h1>Prameya Sasmal</h1>

            <p>for successfully completing</p>

            <h2>Artificial Intelligence Internship</h2>

        </div>

    </div>

</section>

</body>
</html>