<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CertifAI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<nav>

    <div class="logo">CertifAI</div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/generate">Generate</a></li>
        <li><a href="/verify">Verify</a></li>
        <li><a href="/about">About</a></li>
    </ul>

    <a href="/login" class="login-btn">Login</a>

</nav>

<section class="hero">

    <div class="left">

        <div class="badge">
            🤖 AI Powered
        </div>

        <h1>
    Generate Trusted Digital Certificates
    <br>
    with AI Assistance
    </h1>

        <p>
     Create professional digital certificates with intelligent
     theme recommendations, secure verification,
     QR authentication, and printable PDF export.
    </p>

      <div class="hero-buttons">

    <a href="/generate">
        <button>Generate Certificate</button>
    </a>

    <a href="/verify">
        <button class="secondary-btn">Verify Certificate</button>
    </a>

</div>

    </div>

    <div class="right">

        <div class="preview">

            <h2>CERTIFICATE</h2>

            <h3>OF ACHIEVEMENT</h3>

            <p>This certificate is proudly presented to</p>

            <h1>Prameya Sasmal</h1>

            <p>for successfully completing</p>

            <h2>Artificial Intelligence Internship</h2>

        </div>

    </div>

</section>
<section class="why-certifai">

    <h2>Why CertifAI?</h2>

    <div class="features">

        <div class="feature-card">
            <div class="icon">📄</div>

            <h3>Professional Generation</h3>

            <p>
                Generate clean, elegant and printable
                certificates in seconds.
            </p>

        </div>

        <div class="feature-card">

            <div class="icon">🤖</div>

            <h3>AI Guided Themes</h3>

            <p>
                AI recommends the most suitable
                certificate design based on your event.
            </p>

        </div>

        <div class="feature-card">

            <div class="icon">🛡</div>

            <h3>Trusted Verification</h3>

            <p>
                Every certificate can be verified
                securely through CertifAI.
            </p>

        </div>

    </div>

</section>
<footer class="footer">

    <div class="footer-container">

        <div class="footer-column">

            <h2>CertifAI</h2>

            <p>
                Professional AI-assisted certificate generation
                and trusted digital verification platform.
            </p>

        </div>

        <div class="footer-column">

            <h3>Quick Links</h3>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/generate">Generate</a></li>
                <li><a href="/verify">Verify</a></li>
                <li><a href="/about">About</a></li>
            </ul>

        </div>

        <div class="footer-column">

            <h3>Contact</h3>

            <p>Email : Coming Soon</p>
            <p>GitHub : Coming Soon</p>
            <p>LinkedIn : Coming Soon</p>

        </div>

    </div>

    <div class="footer-bottom">

        <p>
            © 2026 CertifAI | Designed & Developed by Prameya Sasmal
        </p>

    </div>

</footer>
</body>
</html>